# Django
DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

# MySQL
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PWD=
MYSQL_DB=kael

# Redis Sentinel
SENTRY_HOST=
SENTRY_PASSWORD=
REDIS_PASSWORD=
SERVICE_NAME=
REDIS_DB=0

# CMDB
CMDB_DOMAIN=
CMDB_TOKEN=

# K8s
K8S_HOST=
K8S_ADMIN_TOKEN=
K8S_TOKEN=
K8S_TOKEN_READ=
K8S_VERIFY_SSL=true
